<section class="card--container justify-content-center gap-4">
    <div class="card--container__card d-flex flex-column gap-3">
        <span class="card--container__card__icon">
            <i class="fa-solid fa-tents fa-2xl" style="color: #ffffff;"></i>
            </span>
        <span class="card--container__card__title">100+ Options</span>
        <span class="card--container__card__desc">Pick Your Suitable Camp & Hotel in ONE click !</span>
    
    </div>
    
    <div class="card--container__card d-flex flex-column  gap-3">
        <span class="card--container__card__icon">
            <i class="fa-solid fa-house-tsunami fa-2xl" style="color: #ffffff;"></i>
            </span>
        <span class="card--container__card__title">100+ Options</span>
        <span class="card--container__card__desc">Pick Your Suitable Camp & Hotel in ONE click !</span>
    
    </div>
    
    <div class="card--container__card d-flex flex-column gap-3">
        <span class="card--container__card__icon">
            <i class="fa-solid fa-umbrella-beach fa-2xl" style="color: #fafafa;"></i>
            </span>
        <span class="card--container__card__title">100+ Options</span>
        <span class="card--container__card__desc">Pick Your Suitable Camp & Hotel in ONE click !</span>
    
    </div>
    
<div class="card--container__card d-flex flex-column gap-3">
    <span class="card--container__card__icon">
        <i class="fa-solid fa-sailboat fa-2xl" style="color: #ffffff;" ></i>
        </span>
    <span class="card--container__card__title">100+ Options</span>
    <span class="card--container__card__desc">Pick Your Suitable Camp & Hotel in ONE click !</span>

</div>

            
</section>