<div class="row header--text">
    <div class="col-6 ">
        <h3 class="header--text__header text-white">
            I have nothing to say here but i just fill this space , bas keda
        </h3>
    </div>
    <div class="col-6 ">
        <p class="header--text__desc text-white">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe hic dicta tempora doloremque laborum in temporibus esse ipsam. Minima doloribus rem animi, quisquam illum ab consequuntur voluptas quia voluptatem nihil.</p>
    </div>
</div>