<section class="py-4">
  <div class="container">
    <div class="gallery--section">
      <app-gallery></app-gallery>
    </div>
  </div>
</section>

<section class="py-4">
  <div class="container">
    <div class="description--section">
      <div class="row">
        <div class="col-md-6">
          <p>
            {{ hotelData?.description }}

          </p>
        </div>
        <div class="col-md-6" *ngIf="hotelData">
          <app-show-map
            [outlat]="hotelData?.location.lat"
            [outlng]="hotelData?.location.lng"
          ></app-show-map>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="py-4">
    <div class="container">

<div class="benefits-section col-md-6">
    <h3 class="text-primary">
        Most popular facilities
    </h3>
  <div class="d-flex gap-4 flex-wrap">

    <span>
        <i class="fa-solid fa-wifi text-primary"></i>        Free Wifi
    </span>
    <span>
        <i class="fa-solid fa-person-swimming text-primary"></i>       Outdoor swimming pool
    </span>
    <span>
        <i class="fa-solid fa-paw text-primary"></i>        Pets
    </span>   <span>
        <i class="fa-solid fa-square-parking text-primary"></i>        Free Parking
    </span>   <span>
        <i class="fa-solid fa-utensils text-primary"></i>        Restaurant
    </span>   <span>
        <i class="fa-solid fa-wine-glass text-primary" ></i>       Bar
    </span>   <span>
        <i class="fa-solid fa-person-biking text-primary"></i>        Bike Rent
    </span>   <span>
        <i class="fa-solid fa-suitcase-rolling text-primary"></i>       Trips
    </span>   <span>
        <i class="fa-solid fa-people-roof text-primary"></i>       Roof
    </span> 
  </div>
    
</div>
    </div>
</section>
<!-- {{hotelData?.data| json}} -->
