img{
    // filter: invert(1);
    width: 90px;
    // height: 50px;
}

.w-fit-content{
    width: fit-content;
}

.container{
    background-color: gray;
    // width: min-content;
    color: beige;
    min-width: 108px;
    padding: 10px;
    min-height: 120px;
}