
<div class="card" style="width: 100%;background-color: black;">
    <img src="../../../../assets/images/demo.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{name}}</h5>
      <p class="card-text " > <span class="text-primary">{{type || "Not Found"}} </span></p>
      <!-- <p class="card-text " *ngIf="!dist"> <span class="text-primary">{{dist}} </span>Location Not Found</p> -->
      <ul class="p-0 pt-1">
        <li>
            <i class="fa-solid fa-circle fa-2xs" [ngClass]="{ 'online': available }" ></i>
  
        </li>
     
   

      </ul>
      <a href="#" class="btn btn-primary" [routerLink]="[id]">Go somewhere</a>
    </div>
  </div>