<section class="py-5">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-3 text--container">
                <h3 class="ps-lg-5">
                    I'm giving you up
                    I've forgiven it all
                    You set me free
                </h3>
            </div>
            <div class="col-md-9 img--container">
                <div class="img--container__rotate p-1 gap-4 d-flex flex-wrap">
                        <img src="../../../../assets/images/test.jpg" width="20%" alt="" srcset="">
                        <img src="../../../../assets/images/auth.jpg" width="30%" alt="" srcset="">
                        <img src="../../../../assets/images/test.jpg" width="20%" alt="" srcset="">
                        <img src="../../../../assets/images/auth.jpg" width="30%" alt="" srcset="">
                        <img src="../../../../assets/images/auth.jpg" width="20%" alt="" srcset="">
                        <img src="../../../../assets/images/auth.jpg" width="30%" alt="" srcset="">
                        <img src="../../../../assets/images/auth.jpg" width="20%" alt="" srcset="">
                        <img src="../../../../assets/images/auth.jpg" width="30%" alt="" srcset="">

                </div>
            </div>
        </div>
    </div>
</section>