<div class="card--container">
    <div class="card--container__header">
        <button class="card--container__header__like">
            <i class="fa-solid fa-heart" style="color: #ffffff;"></i>


        </button>
        <img src="assets/images/auth.jpg" width="100%" alt="" srcset="">
    </div>
    <div class="card--container__body px-3">
        <div class="card--container__body__title">
            <h3>Blue Hole</h3>
        </div>
        <!-- <div class="card--container__body__rate">
            <span>rate hena</span>
        </div> -->
        <div class="card--container__body__price text-end">
            <span>
                <strong>99.99$</strong>
                /night</span>
        </div>
        <div class="card--container__body__desc">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi perferendis non suscipit cum, provident odio officiis vero cupiditate quia veritatis asperiores expedita voluptatem illum reiciendis minima rerum nulla dignissimos. Quisquam!</p>
        </div>
        <div class="card--container__body__button py-3">
            <button class="btn-primary btn">Book Now </button>
        </div>
    </div>
</div>