.body--container{
    max-width: 100%;
    min-height: 85%;
}

.navigator--container{
    overflow-x: auto;
    max-width: 100%;
    min-height: 15%;
    &> div{
justify-content: center;   
display: flex;
@media screen and (max-width: 1200px) {
    justify-content: start;   
  }
}
}