<div class="container-fluid outside--box">
  <div class="row h-100 align-items-center justify-content-center">
    <div class="inside--box p-md-5">
      <div class="row h-100">
        <div
          class="col-md-4 col-12 p-0 d-flex justify-content-center align-items-center inside--box__left--side"
        >
          <div class="background--section">
            <div class="background--section__transparent">
              <img src="assets/images/logo.png" alt="" srcset="" />
            </div>
          </div>
        </div>
        <div class="col-md-8 col-12 inside--box__right--side">
          <div
            class="d-flex w-100 h-100 justify-content-center align-items-center flex-column spaces"
          >
            <h2 class="text-center">Register</h2>
            <form
              class="example-form  "
              [formGroup]="form"
              (submit)="signUp()"
            >


            <div class="firstPhase d-grid spaces" *ngIf="!secondPhase">
                    <div class="form-group row">
                <input
                  class="form-control form-control-lg"
                  type="text"
                  placeholder="Please Enter Your Name"
                  formControlName="name"
                />
              </div>
              <div class="form-group row">
                <input
                  class="form-control form-control-lg"
                  type="number"
                  placeholder="Please Enter Your Phone"
                  formControlName="phone"
                />
              </div>
              <div class="form-group row">
                <input
                  class="form-control form-control-lg"
                  type="email"
                  placeholder="Please Enter Your Email"
                  formControlName="email"
                />
              </div>

              <div class="form-group row">
                <div class="w-100 p-0">
                  <input
                    class="form-control form-control-lg"
                    type="password"
                    placeholder="Please Enter Your Password"
                    formControlName="password"
                  />
                </div>
          

                <small
                  class="text-info forget--password mt-1"
                  [routerLink]="['/auth/login']"
                  >Don't Have Account? Login</small
                >
              </div>

            </div>
        

              <div class="security d-grid spaces" *ngIf="secondPhase">
                <div class="form-group row">
                  <select
                    class="form-select form-select-lg mb-0"
                    aria-label=".form-select-lg example"
                    formControlName="securityquestion"
                  >
                  <option value="1" >select Your Security Question </option>

                    <option [value]="question.question" *ngFor="let question of allQuestions">{{question.question}}</option>
            
                  </select>
                </div>

                <div class="form-group row mb-3">
                  <input
                    class="form-control form-control-lg"
                    type="string"
                    placeholder="Please Enter Your Email"
                    formControlName="securityanswer"
                  />
                </div>

              </div>

              
              <div class="form-group row">
                <button
                  class="mt-2 btn-info btn text-white btn-lg d-block w-100" *ngIf="secondPhase"
                >
                  Register
                </button>
                <input
                  class="mt-2 btn-info btn text-white btn-lg d-block w-100" type="button" (click)="secondPhase = !secondPhase" value="Next" *ngIf="!secondPhase"
                />

                <small
                  class="text-info forget--password mt-1"
                  [routerLink]="['/auth/forget-password']"
                  >Forget Password ?</small
                >
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
