<div class="container">
  <div class="row">
    <div class="col-md-3 col-6 p-4">
        <div>
            <app-landing-hotels-card></app-landing-hotels-card>
        </div>
    </div>
    <div class="col-md-3 col-6 p-4">
        <div>
            <app-landing-hotels-card></app-landing-hotels-card>
        </div>
    </div>
    <div class="col-md-3 col-6 p-4">
        <div>
            <app-landing-hotels-card></app-landing-hotels-card>
        </div>
    </div>
    <div class="col-md-3 col-6 p-4">
        <div>
            <app-landing-hotels-card></app-landing-hotels-card>
        </div>
    </div>
  </div>
<div class="row">
    <button class="btn btn-outline-primary btn-lg w-auto px-5 py-2 m-auto">Show All</button>
</div>
</div>
