<section class="contact--bar px-5 py-2">
    <div class="contact--bar__info">
        <span class="d-flex gap-4 flex-wrap">
            <div class="contact--bar__info__mail d-flex gap-2 align-items-center">
                <i class="fa-regular fa-envelope" style="color: #fafafa;"></i>   
                <a href="mailto:yalladahab23@gmail.com" class="text-white">yalladahab23@gmail.com</a>
            </div>
            <div class="contact--bar__info__phone d-flex gap-2 align-items-center">
                <i class="fa-solid fa-headphones" style="color: #ffffff;"></i>
                <a href="tel:+20123456789" class="text-white">0123456789</a>
            </div>
             </span>
    </div>
    <div class="contact--bar__social">
        <ul class="gap-4 p-0">
            <li>
                <i class="fa-brands fa-facebook-f" style="color: #ffffff;"></i>
            </li>
            <li>
                <i class="fa-brands fa-instagram" style="color: #ffffff;"></i>
            </li>
            <li>
                <i class="fa-brands fa-twitter" style="color: #ffffff;"></i>
            </li>
      
        </ul>
    </div>
</section>
