<div class="container-fluid outside--box">
    <div class="row h-100 align-items-center justify-content-center">
      <div class="inside--box p-md-5">
        <div class="row h-100">
          <div
            class="col-md-4 col-12 p-0 d-flex justify-content-center align-items-center inside--box__left--side"
          >
            <div class="background--section">
              <div class="background--section__transparent">
                <img src="assets/images/logo.png" alt="" srcset="" />
              </div>
            </div>
          </div>
          <div class="col-md-8 col-12 inside--box__right--side">
            <div class="d-flex w-100 h-100 align-items-center flex-column spaces justify-content-center">
              <h2 class="text-center ">New Password</h2>
              <form class="example-form d-grid spacesx2" [formGroup]="form" (submit)="newPassword()">
                <div class="form-group row">
                  <input
                    class="form-control form-control-lg"
                    type="string"
                    placeholder="Please Enter Your password"
                    formControlName="password"
                  />
                </div>
  
                <div class="form-group row">
                    <input
                      class="form-control form-control-lg"
                      type="string"
                      placeholder="Please confirm Your password"
                      formControlName="confirmPassword"
                    />
                  </div>
                <div class="form-group row">
                
                   <button class="mt-2 btn-success custom-bg-primary btn text-white btn-lg d-block w-100">Sumbit</button>
                <small [routerLink]="['/auth/login']" class="text-info forget--password mt-1"
                >Login From Here</small
              >
                </div>
  
             
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  