@import "~bootstrap/dist/css/bootstrap.css";
@import "./app/shared/styles/mixins-variables.scss";
/* You can add global styles to this file, and also import other style files */

html,
body {
  height: -webkit-stretch;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #09131c;
  box-sizing: border-box;
  color: white;
}

.custom-bg-primary {
  background-color: #c0deff !important;
  &:hover {
    background-color: #c0deffa8 !important;
  }
}
.custom-bg-secondary {
  background-color: #c7e8ca !important;
  &:hover {
    background-color: #c7e8ca8e !important;
  }
}
.custom-bg-third {
  background-color: #ffd966 !important;
  &:hover {
    background-color: #ffd9668f !important;
  }
}
//  *{
//     direction: rtl;
//  }

// *{
// border: 1px solid red;
// }
// a{
//     color: white;
// }

tr{
  th{
    color: white;
  }
  td{
    color: white;
  }
}