<div class="container-fluid outside--box">
  <div class="row h-100 align-items-center justify-content-center">
    <div class="inside--box p-md-5">
      <div class="row h-100">
        <div
          class="col-md-4 col-12 p-0 d-flex justify-content-center align-items-center inside--box__left--side"
        >
          <div class="background--section">
            <div class="background--section__transparent">
              <img src="assets/images/logo.png" alt="" srcset="" />
            </div>
          </div>
        </div>
        <div class="col-md-8 col-12 inside--box__right--side">
          <div class="d-flex w-100 h-100 align-items-center flex-column spaces justify-content-center">
            <h2 class="text-center ">Forget Password</h2>
            <form class="example-form d-grid spacesx2" [formGroup]="form" *ngIf="!showAnswer" (submit)="forgetPassword()">
 

              <div class="form-group row">
                <div class="w-100 p-0">
                   <input
                  class="form-control form-control-lg"
                  type="number"
                  placeholder="Please Enter Your phone"
                  formControlName="phone"

                />
                </div>
            
                
              </div>
              <div class="form-group row">
              
                 <button class="mt-2 btn-success custom-bg-primary btn text-white btn-lg d-block w-100">Next</button>
              <small [routerLink]="['/auth/login']" class="text-info forget--password mt-1"
              >Login From Here</small
            >
              </div>

           
            </form>





            <form class="example-form d-grid spacesx2" [formGroup]="layer2" *ngIf="showAnswer" (submit)="secondLayer()">

              <h3 class="text-danger">{{user.securityquestion}} ?</h3>
              

              <div class="form-group row">
                <div class="w-100 p-0">
                   <input
                  class="form-control form-control-lg"
                  type="string"
                  placeholder="Please Enter Your answer"
                  formControlName="answer"

                />
                </div>
            
                
              </div>
              <div class="form-group row">
              
                 <button class="mt-2 btn-success custom-bg-primary btn text-white btn-lg d-block w-100">Sumbit</button>
              <small [routerLink]="['/auth/login']" class="text-info forget--password mt-1"
              >Login From Here</small
            >
              </div>

           
            </form>






            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
