<app-contact-bar></app-contact-bar>
<section class="header">
  <div class="overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-12 header__text">
          <div class="header__text__title">
            <span>Travel Guide bas !</span>
            <h1>YALLA DAHAB ??</h1>
          </div>
        </div>
        <div class="col-md-12">
          <app-header-cards></app-header-cards>
        </div>
        <div class="col-md-12">
          <app-header-text></app-header-text>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="trips">
  <app-landing-hotels></app-landing-hotels>
</section>
<section class="hotels">
<app-trip-sec></app-trip-sec>
</section>